@media (max-width:1700px) {
    .main {
        padding: 0px 15px 0px 15px;
    }

    .title-main {
        font-size: 86px;
    }

    .decr-title-main {
        font-size: 29px;
    }
}

@media (max-width:1500px) {
    .pers-main {
        width: 100%;
        height: auto;
        display: block;
    }
}

@media (max-width:1400px) {
   .pluses-main {
    gap: 19px;
    position: relative;
   }

   .title-main {
    font-size: 74px;
   }
}

@media (max-width:1250px) {
   .rows-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
   }

   .img-main {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

   .decr-title-main {
    margin-bottom: 66px !important;
 }

 .title-main {
    margin: 95px 0px 35px 0px;
 }

 .text-main {
    background-position: center;
    text-align: center;
 }

 .decr-title-main {
    max-width: 100%;
}

.pers-main {
    width: 50%;
    text-align: center;
 }

.link-nav-login {
    display: none;
}

.nav {
    padding: 0px 15px 0px 0px;
    height: 90px;
}

.menu-mobilu {
    display: block;
}

.task-title {
    font-size: 36px;
    } 

}

@media (max-width:830px) {
    .new-cartoons-video {
        justify-content: center;
    }

    .rows-cartoons {
        padding: 0px 15px 0px 15px;
    }

    .rows-cartoons-video iframe {
        width: 100%;
        height: 300px;
    }
  
}

@media (max-width:650px) {
    .pluses-main {
       padding: 25px 15px;
    }

    .plus-main {
       flex-direction: column;
       align-items: center;
    }

    .plus-main img {
       width: 38px;
    }

   .plus-main p {
       font-size: 14px;
       margin: 0px;
   }
   .title-main {
       font-size: 50px;
    }

    .decr-title-main {
       font-size: 22px;
   padding: 0px 20px 0px 20px;
   }

   .link-main {
       padding: 9px 47px;
   }

   .pers-main {
       display: none;
    }

    .main {
       padding: 0px;
    }

    .logo-text {
       font-size: 21px;
   }

   .logo img {
       width: 85px;
   }

   .logo-text {
       display: none;
   }

   .main-text-mobilu{
       display: block;
   }

   .inner-menu-mobilu a {
       font-size: 12px;
   }

   .inner-menu-mobilu {
       gap: 21px;
   }

   .task-title {
       display: none;
   }

   .title-new-video {
    font-size: 34px;
    margin: 20px 0px 5px 0px;
}

.rows-cartoons-video {
    flex-wrap: wrap;
    margin-top: 20px;
}

.rows-cartoons-video iframe {
    height: 220px;
}

    
}
    